---
skip_exec: true
title: Testing cross-reference with holoviews charts
author: "Luis R. Gonzalez"
date: 'Aug 20, 2022'
format:
    html:
        code-fold: true
output-file: cross.html
description: Testing cross reference with holoviews
---

In [1]:
# | label: tbl-test-pandas1
# | tbl-cap: Embedding a table with panda styler local
import pandas as pd

# create a sample dataframe
data = {
    "Name": ["John", "Jane", "Bob", "Alice"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Paris", "London", "Tokyo"],
}
df = pd.DataFrame(data)

# format dataframe with blue text and right-aligned content
styled_table = df.style.set_properties(**{"color": "blue", "text-align": "right"})

# generate HTML table
html_table = styled_table.to_html()


# display HTML table
from IPython.core.display import HTML

HTML(html_table)

In [2]:
# | label: tbl-test-pandas2
# | tbl-cap: Embedding a table with panda styler local
HTML(html_table.replace("<table ", '<table data-quarto-disable-processing="true" '))